<div class="container">
<div class="row ml-5" >
  <div class="col-xs-12">
    <button class="btn btn-primary">New Recipe</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12" style="width: 350px">

    <ul class="list-group"
        *ngFor="let recipe of rs.recipes">
      <li class="list-group-item d-flex justify-content-between align-items-center"
          style="margin-top: 5px"
          (click)="onRecipeSelected(recipe)">
        <p class="mb-3">{{recipe.name}}</p>
        <img src="{{recipe.imagePath}}"
             alt="{{recipe.name}}"
             class="img-thumbnail"
             style="max-width: 50px; max-height: 50px">
      </li>

    </ul>
  </div>


</div>

</div>

