<!--orchestrator components of -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">

<!--      in app-cockpit, if user clicks addServer btn, we should inform our app.component-->
<!--      so, we need custom events!, in app.component-->
<!--      and, pass some newServer data to app.component-->
<!--      we should create this custom events as properties w/ new EventEmitter<...>() in app-cockpit !!-->
        <app-cockpit
          (serverCreated)="onServerAdded($event)"
          (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    </div>
  </div>

  <hr>

<!--  in app-cockpit, there will be new server additions. so app-component should know that!!-->
<!--  and, we have serverElements[] here. and pass to app-server-element's element variable!-->
<!--  custom property binding-->
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [element]="serverElement">

<!--        ng-content hook from server-element.component . it provides sending html part from outside of a component!-->
<!--        css parts related to below, must be inside server-element.component.css !!-->
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>

      </app-server-element>
    </div>
  </div>
</div>
