
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/bat-logo.svg" class="d-inline-block align-top" width="30" height="30" alt=""> BatRecipe
  </a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
        <a class="nav-item active nav-link" routerLink="/recipe" routerLinkActive="active">Recipes <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/shopping" routerLinkActive="active">Shopping List</a>

        <a class="nav-item dropdown nav-link dropdown-toggle"
           href="#" id="navbarDropdownMenuLink"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu bg-warning"
             aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Save</a>
          <a class="dropdown-item" href="#">Fetch</a>
        </div>

    </div>
  </div>
</nav>

