<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <app-even *ngFor="let evenNumber of evenNumbers"
               [even]="evenNumber"></app-even>
    </div>

    <div class="col-xs-12" style="margin-left: 5px">
      <app-odd *ngFor="let oddNumber of oddNumbers"
               [odd]="oddNumber"></app-odd>
    </div>
  </div>

</div>
